!.*
*.swp
*~
vim/.netrwhist
zsh/history*
zsh/cache
emacs.d/auto-save-list
emacs.d/session\.*
emacs.d/emacs-server.log
emacs.d/ac-comphist.dat
emacs.d/tmp
emacs.d/abbrev_defs
matplotlib/test_cache/
matplotlib/tex.cache/

