!.*
*.swp
*~
\#*\#
vim/.netrwhist
zsh/history*
zsh/cache
emacs.d/auto-save-list
emacs.d/session\.*
emacs.d/emacs-server.log
emacs.d/ac-comphist.dat
emacs.d/tmp
emacs.d/el-get
emacs.d/elpa
emacs.d/url
emacs.d/abbrev_defs
matplotlib/test_cache
matplotlib/tex.cache

/matplotlib/fontList.cache
/emacs.d/history
/emacs.d/ido.last
/emacs.d/places
/emacs.d/semanticdb
/emacs.d/eshell/history
/emacs.d/keyfreq.html
/emacs_with_melpa.d/
/emacs_with_graphene.d/
/emacs.d/tramp
/emacs.d/projectile-bookmarks.eld
/emacs.d/project-persist/
/emacs.d/melpa/
/emacs_with_elget.d/
/emacs_with_test.d/
/emacs.d/.mc-lists.el
/emacs.d/games/
/emacs.d/projectile.cache
/emacs.d/.python-environments/
/emacs.d/.cask/
/emacs.d/bbdb
/bin/.sync/
/bin/btsync
/emacs.d/.sx/
*.sqlite
config/systemd/user/multi-user.target.wants
