# https://dodwell.us/security/ssh-agent-systemd.html

# This service can also be used on hosts, where ssh-agent is started
# by the desktop environment (through gpg-agent e.g.)
[Unit]
Description=SSH key agent

[Service]
Type=forking
# Make sure that this env var is also used in your shell (-> zprofile)!!
# Note that in some desktop-envs SSH_AUTH_SOCK is already set somehow....
# NOTE: %t -> is the same as $XDG_RUNTIME_DIR
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -a $SSH_AUTH_SOCK

[Install]
WantedBy=default.target