[Desktop Entry]
Name=Emacs Client
# e is used from ~/bin/e (requires a running emacs daemon)
Exec=e -n %u
Icon=emacs-icon
Type=Application
Terminal=false
MimeType=application/pdf;
